.input {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  background: #f7f5f2;
  padding: 12px;
  border-radius: 12px;
  outline: none;

  /* 🔥 핵심 */
  color: #000;
  font-size: 14px;
}

.input::placeholder {
  color: rgba(0,0,0,0.35);
}

.input:focus {
  border-color: black;
  background: #ffffff;
}